/* Resets button to default to div */
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.navBarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}

.navBarItem a {
  color: var(--brand-black);
}
.navBarItem a:hover {
  color: var(--brand-dark-red);
}

@media (max-width: 992px) {
  .navBarItem {
    background-color: transparent !important;
    color: var(--brand-black) !important;
  }
  .navBarItem:hover {
    background-color: transparent !important;
  }
}
